/* Global rules */

header{
    text-align: center;
    color: white;
}
details{
    font-size: small;
}
.topsec {
    background-color: rgb(222, 120, 120);
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    margin: 125px 125px;
    border-style: outset;
    border-width: thick;
    border-left-color: darkkhaki;
    border-right-color: black;
    font-size: 14px;
    
}
.top2sec {
    background-color: rgb(222, 120, 120);
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    margin: 125px 125px;
    font-size: 14px;
}
.top3sec {
    background-color: rgb(222, 120, 120);
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin: 125px 125px;
}
.topnav {
    margin: auto;
    background-color: rgb(95,95,95);
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topnav a.hover, .active {
    background-color: darkcyan;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topnav .icon {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
p{
    -webkit-margin-bottom-collapse: collapse;
}

/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}


/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 80%;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .topnav {
        width: 90%;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
}


* {
    margin: 0;
    padding: 0;
  }
  body, html {
    font-family: segoe ui;
    font-size: 100%;
    height: 100%;
  }
  .container {
    background: #FFF;
    min-height: 100%;
    overflow: auto;
  }
  a {
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: background-color .16s ease-in;
  }
  a:hover {
    background-color: rgb(13, 218, 183);
  }
  .navbar-menu {
    background-color: rgb(18, 170, 184);
    margin: 2% auto;
    max-width: 1000px;
    width: calc(100%);
  }
  /* Menu */
  .navbar-menu .menu {
    display: block;
    text-align: center;
  }
  /* List items*/
  .navbar-menu .menu li {
    display: inline-block;
  }
  .navbar-menu .menu li:hover > .submenu {
    display: block;
    -webkit-animation-name: showSubMenu;
    -webkit-animation-duration: .4s;
  }
  .navbar-menu .menu li ul {
    background-color: #08beb5;
    display: none;
    position: absolute;
  }
  .navbar-menu .menu li ul li {
    display: block;
  }
  .navbar-menu .menu li ul li a:active {
    -webkit-animation-name: hideSubMenu;
    -webkit-animation-duration: .4s;
  }
  /******************************************************
                          sub MENU
  ******************************************************/
  /* Mini menu */
  .navbar-mini-menu {
    background-color: #08beb5;
    display: none;
  }
  .navbar-mini-menu .menu-select {
    color: #fff;
    padding: 1rem 1.5rem;
  }
  .navbar-mini-menu .menu-select .btn-select {
    background: url("https://imgur.com/VbcTojM.png") no-repeat;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
  }
  .navbar-mini-menu .mini-menu-options {
    display: block;
  }
  .navbar-mini-menu .mini-menu-options li {
    display: block;
  }
  .navbar-mini-menu .mini-menu-options li .submenu {
    display: none;
  }
  .navbar-mini-menu .mini-menu-options li:focus {
    outline: 0;
  }
  .navbar-mini-menu .mini-menu-options li:focus > .submenu {
    display: block;
    -webkit-animation-name: showSubMenu;
    -webkit-animation-duration: .4s;
  }
  .navbar-mini-menu .mini-menu-options li a {
    display: block;
    padding: 1rem 1.5rem;
  }
  @-webkit-keyframes showSubMenu {
      0% {
        transform: scale(0,0);
      }
    100% {
      transform: scale(1,1);
    }
  }
  @-webkit-keyframes hideSubMenu {
    0% {
      transform: scale(1,1);
    }
    100% {
      transform: scale(0,0);
    }
  }
  @media screen and (max-width: 750px) {
    .navbar-menu {
      margin: 0;
    }
    .navbar-menu .menu {
      display: none;
    }
    .navbar-mini-menu {
      display: block;
    }
    .navbar-mini-menu .mini-menu-options {
      display: none;
    }
  }
  